*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

composer.phar
composer.lock
vendor

.buildpath
.project
.settings
.idea/
.vagrant/
tests/unit/coverage/
tests/unit/fixtures/*
!tests/unit/fixtures/.gitkeep
